<!DOCTYPE html>
<html>

<head>
    <title> Create User </title>

    <link rel="stylesheet" href="css/style.css">
</head>


<!--<div class="container"> -->



<div class="content_wrapper">

    <div class="menu_items_wrapper">
        <% items.forEach(function(item) {%>
            <div class="menu_item_wrapper">

                <img src="images/<%= item.image %>" width="250px" height="150px">
                <div class="manu_item">
                    <h2 class="item_name">
                        <%= item.name %>
                    </h2>
                    <span class="item_size"> <%= item.size %></span>

                    <div class="menu_add_section">
                        <span class="item_price"> $<%= item.price %> </span>
                        <button data-item="<%= JSON.stringify(item) %>" class="button2">
                            <span>+</span> 
                            <span> Add </span> 
                        </button>
                    </div>

                </div>

            </div>
            <% }) %>
    </div>

</div>
<script src='js/client.js'>
</script>