extends ./layout.pug
block content
    .Edit 
        h2 Original data
        h3=`Name: ${superhero.name}`
        h3=`Description: ${superhero.description}`
        hr
        form(action="/edit",method="post")
            label(for="id") Change name to:
            br
            input(type="text",required="required",name="superhero",id="id",value=superhero.name)
            br
            label(for="description") Change discription to:
            br
            input(type="text",required="required",name="description",id="description",value=superhero.description)
            input(type="hidden",name="_id",value=superhero._id)
            br
            //- button Update 1
            span Fav Season: 
            input(type="checkbox",name='season',value="winter")
            span Winter
            input(type="checkbox",name='season',value="summer")
            span Summer
            br
            //- button Update 1
            case superhero.color
                when 'Red'
                    input(type="radio",name="color",value="Red",checked,style="color:Red")
                    span(style="color:Red") Red
                    input(type="radio",name="color",value="Green")
                    span Green
                    input(type="radio",name="color",value="Blue")
                    span Blue
                when 'Green'
                    input(type="radio",name="color",value="red")
                    span Red
                    input(type="radio",name="color",value="Green",checked,style="color:green")
                    span(style="color:green") Green
                    input(type="radio",name="color",value="Blue")
                    span Blue
                when 'Blue'
                    input(type="radio",name="color",value="red")
                    span Red
                    input(type="radio",name="color",value="Green")
                    span Green
                    input(type="radio",name="color",value="Blue",checked,style="color:Blue")
                    span(style="color:Blue") Blue
                default
                    h3(style="color:red") Warning! This hero has no fav-color! Please choose one for him/her.
                    input(type="radio",name="color",value="red")
                    span Red
                    input(type="radio",name="color",value="Green")
                    span Green
                    input(type="radio",name="color",value="Blue")
                    span Blue
                    br
            button Update


    