<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style_cart.css">
    <title>Document</title>
</head>

<body>
    <section class="cart">
        <% if(session.cart) { %>
            <div class="order_container">
                <div class="order_container_item">
                    <img class="image" src="images/shopping-cart.png" alt="">
                    <h1 class="text_font">Order summary</h1>

                </div>

                <div class="ordered-list">
                    <!-- If any item is added to cart then show the added item's page-->
                    <% for(let orderedItem of Object.values(session.cart.items)) {%>
                        <div class="ordered_item">
                            <img class="image_ordered_item" src="images/<%= orderedItem.item.image %>" alt="" width="4%" height="1%">
                            <div class="image_ordered_item2">
                                <h1>
                                    <%= orderedItem.item.name %>
                                </h1>
                                <span><%= orderedItem.item.size %></span><br>
                                <span><%= orderedItem.qty %></span>
                            </div>
                            <span class="ordereditem">$<%= orderedItem.item.price * orderedItem.qty %> </span>
                            <span class="ordereditem_price"></span>

                        </div>
                        <% } %>

                </div>
                <hr>
                <div class="order-amount">
                    <div>
                        <span>Total Amount:</span>
                        <span class="total-price">$<%= session.cart.totalPrice %></span>

                    </div>
                    <!-- If user is loged in then allow them to complete the order-->
                    <% if(user) { %>
                        <div>
                            <form class="form1" action="">
                                <input class="" type="text" placeholder="phone number">
                                <input class="" type="text" placeholder="Address">
                                <div>
                                    <button class="button" type="submit"> Order Now</button>
                                </div>

                            </form>
                        </div>


                        <!-- If user is not loged in please redirect them to login page-->
                        <%} else {%>
                            <a href="/login" class="button2">Login to continue</a>
                            <% } %>
                </div>
            </div>

            <!-- If cart is emply then show the user empty cart page-->
            <%} else {%>

                <div class="container_cart">
                    <h1 class="text">Cart Empty </h1>
                    <p class="text_2"> The cart is empty. you haven't order anything yet.</p>
                    <img class="empty_cart" src="empty_cart.jpg" alt="cf">

                    <a href="/" class="return_button">Go back</a>
                </div>


                <% } %>
    </section>

</body>

</html>