<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="css/style_cart.css">
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.2.0-beta/noty.css">
    <link rel="stylesheet" href="style_stripePayment.css">
    <title>Document</title>
</head>

<body>
    <section class="cart">
        <% if(session.cart) { %>
            <div class="order_container">
                <div class="order_container_item">
                    <img src="https://img.icons8.com/nolan/64/shopping-cart-promotion.png" />
                    <h1 class="text_font">Order summary</h1>

                </div>

                <div id="ordered_list" class="orderItem_div">
                    <!--'items' is coming from homeController.js file -->
                    <!-- If any item is added to cart then show the added item's page-->
                    <% for(let orderedItem of Object.values(session.cart.items)) {%>
                        <div class="ordered_item <%= orderedItem.item._id %>">
                            <img class="image_ordered_item" src="images/<%= orderedItem.item.image %>" alt="" width="5%" height="1%">
                            <div class="image_ordered_item2">
                                <h1>
                                    <%= orderedItem.item.name %>
                                </h1>
                                <span class="sizeDiv"> Size:  <%= orderedItem.item.size %> </span><br>
                                <button data-additem="<%= JSON.stringify(orderedItem) %>" class="add-item" type="button">+</button>

                                <span id="updatedqty" class="<%= orderedItem.item._id %>">Qty:  <%= orderedItem.qty %></span>
                                <button data-deleteitem="<%= JSON.stringify(orderedItem) %>" class="delete-item" type="button">-</button>

                            </div>

                            <div class="myDiv">
                                Item Total = $<span id="current-item-price" class="<%= orderedItem.item._id %>"><%= (orderedItem.item.price * orderedItem.qty).toFixed(2) %> </span>
                            </div>
                            <div>
                                <button data-removeitem="<%= JSON.stringify(orderedItem) %>" class="remove-item" type="button">REMOVE ITEM</button>
                            </div>
                        </div>
                        <% } %>

                </div>
                <hr>
                <div class="order-amount">
                    <div>
                        <span>Total Amount:</span>
                        <span id="updated-price" class="total-price">$<%= session.cart.totalPrice?.toFixed(2) %></span>

                    </div>
                    <!-- If user is loged in then allow them to complete the order-->
                    <% if(user) { %>
                        <div>
                            <form class="form1" action="/order" method="POST" id="payment-form">

                                <select name="paymentType" id="paymentType">
                                    <option value="cod">Cash on delivery</option>
                                    <option value="card">Card</option>
  
                                  </select>
                                <input name='phone' class="" type="text" placeholder="phone number">
                                <input name='address' class="" type="text" placeholder="Address">
                                <div>
                                    <div id="card-element"></div>
                                    <button class="button" type="submit"> Checkout</button>
                                </div>

                            </form>
                        </div>


                        <!-- If user is not loged in please redirect them to login page-->
                        <%} else {%>
                            <a href="/login" class="button2">Login to continue</a>
                            <% } %>
                </div>
            </div>

            <!-- If cart is emply then show the user empty cart page-->
            <%} else {%>

                <div class="container_cart">
                    <h1 class="text">Cart Empty </h1>
                    <p class="text_2"> The cart is empty. you haven't order anything yet.</p>
                    <img class="empty_cart" src="empty_cart.jpg" alt="cf">

                    <a href="/" class="return_button">Go back</a>
                </div>


                <% } %>
    </section>


</body>

</html>